@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Audiowide&family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Audiowide&family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap');



body {
    background-color: rgb(226, 226, 226);
}

.unapasafirst {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px;

}

.second {
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-weight: 200;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-right: 7%;
    justify-content: center;
}

.main2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 7%;
    justify-content: center;
}

.main3 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 7%;
    justify-content: center;
}

.boxer {
    background-color: white;
    width: 40%;
    height: 300px;
    border-radius: 10px;
    margin-left: 10%;
    position: relative;
    padding: 20px;
}

.boxerig {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.boxer h1 {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3rem;

}

.boxer p {
    text-align: center;
    font-family: "PT Sans", sans-serif;
}

.boxer a {
    text-decoration: none;
    color: #000000;
}

.boxer:hover {
    transition: ease-in-out 0.4s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.boxer1 {
    background-color: white;
    width: 40%;
    height: 300px;
    border-radius: 10px;
    margin-left: 10%;
    position: relative;
    padding: 20px;
}

.boxerig {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.boxerig1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.boxerig2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

}

.boxer1 h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 3rem;

}

.boxer1 p {
    text-align: center;
    font-family: "PT Sans", sans-serif;
}

.boxer1 a {
    text-decoration: none;
    color: #000000;
}

.boxer1:hover {
    transition: ease-in-out 0.4s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.boxer3 {
    background-color: white;
    width: 40%;
    height: 300px;
    border-radius: 10px;
    margin-left: 10%;
    position: relative;
    padding: 20px;
}

.boxerig {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.boxer3 h1 {
    font-family: "Saira Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3rem;


}

.boxer3 p {
    text-align: center;
    font-family: "PT Sans", sans-serif;
}

.boxer3 a {
    text-decoration: none;
    color: #000000;
}

.boxer3:hover {
    transition: ease-in-out 0.4s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.topnav #myLinks {
    display: none;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin-left: 40px;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    color: rgb(255, 0, 0);
    transition: ease 0.5s;
}



.active {
    background-color: #000000;
    color: white;
    font-family: orbitron, sans-serif;
    text-align: center;
    font-size: 15px;
}

footer h1 {
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
}

.foot {
    text-decoration: none;
    color: rgb(124, 124, 124);
    font-family: "PT Sans", sans-serif;
}

footer a:hover {
    background-color: rgb(31, 31, 31);
    transition: ease 0.2s;

}

footer h4 {
    font-family: "PT Sans", sans-serif;
}

.footerp {
    font-family: "PT Sans", sans-serif;
}

.container33 {
    display: flex;
    justify-content: space-between;
}

.span1 {
    float: left;
    color: gray;
    font-family: "PT Sans", sans-serif;
}

.container33 a:hover {
    color: rgba(255, 0, 0, 0.945);
    transition: ease 0.2s;
    transition: width 0.5s, height 0.5s;
    font-family: "PT Sans", sans-serif;
}

.span2 {
    justify-content: center;
    color: gray;
    font-family: "PT Sans", sans-serif;
}

.span3 {
    color: gray;
    font-family: "PT Sans", sans-serif;
}

li a {
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    margin-left: 40;
}

ul {
    list-style: none;
}

svg.negative {
    color: white;
    position: absolute;
    left: 2.5%;
    top: 17%;
    transform: translate(-50%);
    font-size: 20vw;
}

svg.uno {
    color: white;
    position: absolute;
    left: 2.5%;
    top: 33%;
    transform: translate(-50%);
    font-size: 20vw;
}

svg.dos {
    color: white;
    position: absolute;
    left: 2.5%;
    top: 46%;
    transform: translate(-50%);
    font-size: 20vw;
}

svg.tres {
    color: white;
    position: absolute;
    left: 2.5%;
    top: 60%;
    transform: translate(-50%);
    font-size: 20px;
}

svg.quatro {
    color: white;
    position: absolute;
    left: 2.5%;
    top: 75%;
    transform: translate(-50%);
    font-size: 20px;
}

svg.singko {
    color: white;
    position: absolute;
    left: 2.5%;
    top: 89%;
    transform: translate(-50%);
    font-size: 20px;
}


nav .navbar {
    display: flex;
    position: relative;
    align-items: center;
    float: left;
    margin-top: 1.5%;
}

span a {
    text-decoration: none;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
}

span a:hover {
    color: rgb(255, 0, 0);
    transition: ease 0.5s;
}

.BAR :hover {
    color: rgb(63, 63, 63);
    transition: 0.5s ease;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    width: 100%;
    list-style: none;
    overflow: hidden;
    background-color: rgb(14, 13, 13);

}

.uino {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.uino img {
    width: 100%;
    height: auto;
    display: block;

}

.overlay {
    position: absolute;
    bottom: 100px;
    left: 40px;
    right: 20px;
}


.mainhub {
    font-family: "Orbitron", sans-serif;
    font-size: clamp(20px, 5vw, 40px);
    color: #fff;
    margin: 0;
}

.mainhub:hover {
    color: red;
    transition: 0.3s;
}

.subhub {
    font-family: "PT Sans", sans-serif;
    font-size: clamp(12px, 3vw, 14px);
    color: #fff;
    margin-top: 5px;
}


footer {
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(241, 238, 238);
    padding: 20px;


}


.body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

.container {
    display: flex;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.box {
    flex: 1 1 300px;
}

@media (max-width: 650px) {
    .header_content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 20px;
    }

    .nav-list {
        column-gap: 20px;
    }
}

@media (max-width: 768px) {
    .container33 {
        flex-direction: column;
        text-align: left;
    }

    .container33 span {
        margin-bottom: 20px;
    }

    .foot h4 {
        display: block;
        margin: 8px 0;
        text-align: left;
    }

    .image3 {
        align-items: center;
        display: block;
        width: 100%;
        height: 70%;
    }

    .text3 {
        align-items: center;
        margin: 10px;
        margin-bottom: 40px;

    }

    .image4 {
        align-items: center;
        display: block;
        width: 100%;
        height: 70%;
    }

    .text4 {
        align-items: center;
        margin: 10px;
        margin-bottom: 40px;

    }

    .image6 {
        align-items: center;
        display: block;
        width: 100%;
        height: 70%;
    }

    .text6 {
        align-items: center;
        margin: 10px;
        margin-bottom: 40px;

    }
}

@media (max-width: 650px) {
    .header_content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 20px;
    }

    .nav-list {
        column-gap: 20px;
    }
}

@media (max-width: 768px) {
    .container33 {
        flex-direction: column;
        text-align: left;
    }

    .container33 span {
        margin-bottom: 20px;
    }

    .foot h4 {
        display: block;
        margin: 8px 0;
        text-align: left;
    }

    .image3 {
        align-items: center;
        display: block;
        width: 100%;
        height: 70%;
    }

    .text3 {
        align-items: center;
        margin: 10px;
        margin-bottom: 40px;

    }

    .image4 {
        align-items: center;
        display: block;
        width: 100%;
        height: 70%;
    }

    .text4 {
        align-items: center;
        margin: 10px;
        margin-bottom: 40px;

    }

    .image6 {
        align-items: center;
        display: block;
        width: 100%;
        height: 70%;
    }

    .text6 {
        align-items: center;
        margin: 10px;
        margin-bottom: 40px;

    }

    .philip5 {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .content6 {
        flex-direction: column;
        margin: 50px;

    }

    .content5 {
        margin: 50px;
    }

    .image5 {
        width: 100%;
    }

    .philip56 {
        font-size: 30px;
    }

    .uino img {
        height: 60%;
        width: 0 auto;
        object-fit: cover;
    }

    .logo {
        width: 10%;
    }

    .boxer {
        width: 80%;
        height: 30%;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }

    .boxer1 {
        margin-top: 45px;
        padding: 20px;
        width: 500px;
        height: 250px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }

    .boxer {

        padding: 20px;
        width: 500px;
        height: 250px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }

    .boxer3 {
        margin-top: 45px;
        padding: 20px;
        width: 500px;
        height: 250px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
    transition: ease 0.5s;
}

.passenger {
    align-self: flex-end;
    border: #000000;
    padding: 30px;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    font-size: 1.0rem;
}

.passenger:hover {
    background-color: gray;
    transition: ease-in-out 0.4s;
}

.maxicliba {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px;

}

.content4 {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 10px;
}

.image4 img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.text4 {
    max-width: 500px;
}

.text4 h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "PT Sans", sans-serif;
    color: rgb(0, 0, 0);
}

.text4 p {
    color: #000000;
    line-height: 1.6;
    font-family: "PT Sans", sans-serif;
    font-size: 1.0rem;
}

.philip4 {
    padding: 30px 10%;

}

.text4 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "PT Sans", sans-serif;
    border: solid 1px#000000;
    padding: 15px;

}

.text4 a:hover {
    background-color: gray;
    transition: ease 0.5s;
    opacity: 40%;
}

.logo {
    width: 5%;
}

.lastofp {
    margin-left: 10%;
    padding: 30px;
    margin-bottom: 5%;
    font-family: "PT Sans", sans-serif;
}